main {
  width: 1440px;
  padding-left: 15px;
  align-items: center;
  box-sizing: border-box;
  align-items: flex-start;
}
main div.title p {
  font-size: 10px;
  color: gray;
}
main div.select {
  display: flex;
}
main div.select select {
  width: 80px;
  height: 23.5px;
  margin-right: 3px;
}
main div.option {
  display: block;
}
main div.option div.advance-search {
  font-family: KaiTi;
  box-sizing: border-box;
  width: 1000px;
  height: 250px;
  background: #d3d3d3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main div.option div.advance-search li {
  margin-bottom: 10px;
}
main div.option div.advance-search li input {
  display: inline-block;
  margin-right: 10px;
}
main div.content {
  width: 1400px;
}
main div.content::after {
  content: "";
  display: block;
  clear: both;
}
main div.content div.order {
  float: right;
  font-size: 15px;
  color: gray;
  margin-bottom: 5px;
}
main div.content ul.name {
  display: flex;
  text-align: center;
  width: 100%;
}
main div.content ul.name li {
  background: linear-gradient(to top, #336699, #3366cc, #336699);
  color: #fff;
  margin-right: 1px;
}
main div.content ul.name li:nth-child(1),
main div.content ul.name li:nth-child(2) {
  width: 230px;
}
main div.content ul.name li:nth-child(3) {
  width: 150px;
}
main div.content ul.name li:nth-child(4) {
  width: 65px;
}
main div.content ul.name li:nth-child(5),
main div.content ul.name li:nth-child(6),
main div.content ul.name li:nth-child(7),
main div.content ul.name li:nth-child(8),
main div.content ul.name li:nth-child(9) {
  width: 90px;
}
main div.content ul.name li:nth-child(10) {
  width: 220px;
}
main div.content ul.name li:last-child {
  width: 150px;
}
main div.content ul.name li input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
main div.content ul.box {
  width: 100%;
}
main div.content ul.box li {
  margin-top: 1px;
}
main div.content ul.box li ul {
  display: flex;
}
main div.content ul.box li ul li {
  background: #add8e6;
  color: #000;
  margin-right: 1px;
  height: 30px;
  overflow: auto;
  white-space: hidden;
}
main div.content ul.box li ul li:nth-child(1),
main div.content ul.box li ul li:nth-child(2) {
  width: 230px;
}
main div.content ul.box li ul li:nth-child(3) {
  width: 150px;
}
main div.content ul.box li ul li:nth-child(4) {
  width: 65px;
}
main div.content ul.box li ul li:nth-child(5),
main div.content ul.box li ul li:nth-child(6),
main div.content ul.box li ul li:nth-child(7),
main div.content ul.box li ul li:nth-child(8),
main div.content ul.box li ul li:nth-child(9) {
  width: 90px;
}
main div.content ul.box li ul li:nth-child(10) {
  width: 220px;
}
main div.content ul.box li ul li:last-child {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main div.content ul.box li ul li:last-child a:hover{
  cursor:pointer;
}
main div.content ul.box li ul li:last-child img {
  display: inline-block;
  width: 20px;
  height: 21px;
}
main div.content div.pages {
  float: right;
  margin-top: 20px;
}
main div.content div.pages ul {
  display: flex;
}
main div.content div.pages ul li {
  border: 0.5px solid #add8e6;
  height: 20px;
  line-height: 20px;
  width: 20px;
  color: #36c;
  text-align: center;
}
main div.content div.pages ul li:first-child,
main div.content div.pages ul li:last-child {
  width: 60px;
}
main div.content div.pages ul li:hover {
  cursor: pointer;
}
main h5 {
  width: 80px;
  color: #369;
  cursor: pointer;
}
