<!DOCTYPE html>
<html lang="en">

<head >
    <meta charset="UTF-8">
    <title>添加供应商</title>
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/addSupplier.css">
</head>

<body>
<header>
    <div class="top">
        <ul>
            <a href="/index"><li class="index">首页</li></a>
            <a href="/companies"><li class="companies">单位</li></a>
            <a href="/contacts"><li class="contacts">联系人</li></a>
            <a href="/records"><li class="records">联系记录</li></a>
            <a href="/users"><li class="users">用户管理</li></a>
            <a href="/suppliers"><li class="suppliers">供应商</li></a>
            <a href="/self"><li class="self">个人信息</li></a>
            <li class="quit" th:text="'退出'+'('+${userName}+')'"></li>
        </ul>
    </div>
    <div class="breadcrumbs">
        <a href="/index">首页</a>>><a href="/suppliers">供应商</a> >> 新建
    </div>
</header>
<main>
    <div class="content">
        <h4>供应商</h4>
        <div class="supplier">
            <ul>
                <li>
                    <div>名字：</div><input class="supplierName">
                </li>
            </ul>
            <ul>
                <li>
                    <div> 描述</div>
                    <textarea name="" id="" cols="30" rows="10" class="description"></textarea>
                </li>
            </ul>
        </div>
        <div class="error"> </div>
        <button class="submit">新建</button>
    </div>
</main>
<footer>
    <div class="cutline"></div>
    <div>版权信息</div>
</footer>
<script src="js/addSupplier.js"></script>
</body>

</html>
