<!DOCTYPE html>
<html lang="en">

<head >
    <meta charset="UTF-8">
    <title>联系人列表</title>
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/contacts.css">
</head>

<body>
<header>
    <div class="top">
        <ul>
            <a href="/index"><li class="index">首页</li></a>
            <a href="/companies"><li class="companies">单位</li></a>
            <a href="/contacts"><li class="contacts">联系人</li></a>
            <a href="/records"><li class="records">联系记录</li></a>
            <a href="/users"><li class="users">用户管理</li></a>
            <a href="/suppliers"><li class="suppliers">供应商</li></a>
            <a href="/self"><li class="self">个人信息</li></a>
            <li class="quit" th:text="'退出'+'('+${userName}+')'"></li>
        </ul>
    </div>
    <div class="breadcrumbs">
        <a href="/index">首页</a> >> <a href="/contacts">联系人</a>
    </div>
</header>
<main>
    <div class="title">
        <h3>联系人</h3>
    </div>
    <h5 class="advanceSearch">高级查找</h5>
    <div class="option" style="display: none;">
        <div class="advance-search">
            <ul>
                <li>
                    姓名<input type="text" class="advanceName">性别<input type="text" class="advanceGender">职位<input type="text" class="advancePosition">
                </li>
                <li>
                    手机1 <input type="tel" class="phone"> 手机2 <input type="tel" class="secondPhone">电话<input type="tel" class="tel">
                </li>
                <li>
                    QQ<input type="tel" class="qq">Email <input type="email" class="email">
                </li>
                <li>负责区域<input type="text" class="responsibility"></li>
                <li>联系人备注<input type="text" class="notes"></li>
                <li><input type="button" value="查找" class="advance_button"></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="order">
            <span> 第<span class="start"></span>-<span class="end"></span> 条 共<span class="totalCount"></span> 条</span>
        </div>
        <ul class="name">
            <li>单位名称<div><input type="text" class="companyName"></div></li>
            <li>职位<div><input type="text" class="position"></div></li>
            <li>姓名<div><input type="text" class="normalName"></div></li>
            <li>性别<div><input type="text" class="gender"></div></li>
            <li>省<div><input type="text" class="province"></div></li>
            <li>市<div><input type="text" class="city"></div></li>
            <li>区/县<div><input type="text" class="area"></div></li>
            <li>类型<div><input type="text" class="category"></div></li>
            <li>规模<div><input type="text" class="size"></div></li>
            <li>更新时间<div></div></li>
            <li>操作<div><input type="button" value="查找" class="normalSubmit"></div></li>
        </ul>

        <ul class="box">
        </ul>
        <div class="pages">
            <ul>
                <li class="pre">&lt前页 </li>
                <li class="next">后页&gt</li>
            </ul>
        </div>
    </div>

</main>
<footer>
    <div class="cutline"></div>
    <div>版权信息</div>
</footer>
<script src="js/index.js"></script>
<script src="js/contacts.js"></script>
</body>

</html>