<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/self.css">
</head>

<body>
<header>
    <div class="top">
        <ul>
            <a href="/index"><li class="index">首页</li></a>
            <a href="/companies"><li class="companies">单位</li></a>
            <a href="/contacts"><li class="contacts">联系人</li></a>
            <a href="/records"><li class="records">联系记录</li></a>
            <a href="/users"><li class="users">用户管理</li></a>
            <a href="/suppliers"><li class="suppliers">供应商</li></a>
            <a href="/self"><li class="self">个人信息</li></a>
            <li class="quit" th:text="'退出'+'('+${userName}+')'"></li>
        </ul>
    </div>
    <div class="breadcrumbs">
        <a href="/index">首页</a> >> <a href="self">个人信息</a> >> <span class="id" th:text="${id}">2</span> >> 修改
    </div>
</header>

<main>

    <div class="title">修改信息</div>
    <div class="content">
        <ul>
            <li>
                新密码
                <input type="password" class="pwd">
                如不需要更改密码，此处请留空
            </li>
            <li>
                Email
                <input type="email" class="email">
            </li>
            <li>
                手机
                <input type="tel" class="phone">
            </li>
            <li>
                QQ号码
                <input type="tel" class="qq">
            </li>
            <li>
                电话
                <input type="tel" class="tel">
            </li>
            <li>
                <div class="error"></div>
            </li>
            <button class="submit">保存</button>
        </ul>
    </div>
</main>
<footer>
    <div class="cutline"></div>
    <div>版权信息</div>
</footer>
<script src="js/index.js"></script>
<script src="js/self.js"></script>
</body>

</html>