<!DOCTYPE html>
<html lang="en">

<head >
    <meta charset="UTF-8">
    <title>供应商列表</title>
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/suppliers.css">
</head>

<body>
<header>
    <div class="top">
        <ul>
            <a href="/index"><li class="index">首页</li></a>
            <a href="/companies"><li class="companies">单位</li></a>
            <a href="/contacts"><li class="contacts">联系人</li></a>
            <a href="/records"><li class="records">联系记录</li></a>
            <a href="/users"><li class="users">用户管理</li></a>
            <a href="/suppliers"><li class="suppliers">供应商</li></a>
            <a href=""><li class="userSuppliers">用户供应商</li></a>
            <a href=""><li class="userContacts">用户联系人</li></a>
            <a href="/self"><li class="self">个人信息</li></a>
            <li class="quit" th:text="'退出'+'('+${userName}+')'"></li>
        </ul>
    </div>
    <div class="breadcrumbs">
        <a href="/index">首页</a> >> <a href="suppliers">供应商</a>
    </div>
</header>
<main>

    <div class="left">
        <div class="title">
            <h2>供应商</h2>
        </div>
        <div class="content">
            <div class="order">
                <span> 第 <span class="start"></span>-<span class="end"></span> 条 共 <span class="totalCount"></span> 条</span>
            </div>

            <ul class="name">
                <li>ID <div><input type="text" class="id"></div></li>
                <li>供应商<div><input type="text" class="supplierName"></div></li>
                <li>操作<input type="button" value="查找" class="search"></li>
            </ul>

            <ul class="box">

            </ul>
            <div class="pages">
                <ul>
                    <li class="pre">&lt前页 </li>
                    <li class="next">后页&gt</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">

        <h4>操作</h4>
        <ul>
            <li>
                <a href="/addSupplier">添加供应商</a>
            </li>
        </ul>
    </div>
</main>
<footer>
    <div class="cutline"></div>
    <div>版权信息</div>
</footer>
<script src="js/index.js"></script>
<script src="js/suppliers.js"></script>
</body>

</html>